nav li{
    list-style-type: none;
    padding: 0 10px;
    
}

nav ul{
    display:flex;
}
nav li a{
    text-decoration: none;
    background-color: crimson;
    font-size: 30px;
    
}

nav li:hover{
    color: lightblue;

}

nav > ul > li:hover > ul{
    display: block;
    padding: 0;
    margin:  5px;
    
}
.dropdown{
    display: none;
    position: absolute;
}
.dropdown li{
    padding: 0 20px;
    margin: 0 ;

}
